body{
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('Free\ Vector\ _\ Flat\ design\ yellow\ comics\ wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to right,rgb(162,216,162), rgb(102,194,102)); */
} 
.tickets{
    width: 550px;
    height: fit-content;
    border: 0.4mm solid rgba(0,0,0,0.08);
    border-radius: 3mm;
    box-sizing: border-box;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 96vh;
    overflow:auto;
    background: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.ticket-selector{
    background: rgb(243,243,243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title{
    font-size: 16px;
    font-weight: 600;
}
.seats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}
.status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* .seats::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 220px;
    height: 7px;
    background: rgb(29, 84, 139);
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm rgb(180,180,180);
} */
.item{
    font-size: 12px;
    position: relative;
}
.item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0.-50%);
    width: 10px;
    height: 10px;
    background: rgb(255,255,255);
    outline: 0.2mm solid rgb(120,120,120);
    border-radius: 0.3mm;
}
.item:nth-child(2)::before{
    background: rgb(180, 180, 180);
    outline: none;
}
.item:nth-child(3)::before{
    background: rgb(28,185,120);
    outline: none;
}
.all-seats{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 15px;
    margin: 60px 0;
    position: relative;
}
.seat{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    outline: 0.3mm solid rgb(180,180,180);
    cursor: pointer;
}
.all-seats input:checked+label{
    background: rgb(30, 165, 30);
    outline: none;
}
.seat.booked{
    background: rgb(180,180,180);
    outline: none;
}
input{
    display: none;
}
.timings{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.dates{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-item {
    width: 50px;
    height: 40px;
    background: rgb(147, 197, 197);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    cursor: pointer;
}
.day{
    font-size: 12px;
}
.times{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.time{
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: grey;
    border-radius: 2mm;
    cursor: pointer;
}
.timings input:checked+ label{
    background: rgb(28,185,120);
    color: white;
}
.price{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.total span{
    font-size: 11px;
    font-weight: 400;
}
/* .price button{
    background: rgb(60,60,60);
    color: white;
    font-family: poppins;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 3mm;
    outline: none;
    border: none;
    cursor: pointer;
} */
/* .buttonpp{
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(76, 20, 228, 0.1);
    font-weight: bold;
    background-color: red;
    height: fit-content;
    width: fit-content;
} */
.container{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    padding: 10px 200px;
    background: #9c2828;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    transition: .4s;

}
.btn:hover{
    background: blue;
    color: #fff;

}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.3);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}
    .popup button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: rgb(85, 85, 223);
        color: #fff;
        border: 0;
        outline: none;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgb(0,0,0,0.2);
    }